<main class='registration'>
    <div class='signup-content'>
        {{#userInfo}}
            <p>Edit your profile.</p>
            <form action="/profile/edit" method="POST" id="">
                <ul id="form-errors">
                    {{#if ../error}}
                        <li style="list-style: none;">{{ ../error }}</li>
                    {{/if}}
                </ul>
                <div>
                    <div class="form-group">
                        <label for="firstName">First Name: </label>
                        <input type="text" id="firstName" name='firstName' value={{first_name}} class='form-control'>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name: </label>
                        <input type="text" id="lastName" name='lastName' value={{last_name}} class='form-control'>
                    </div>
                    <div class="form-group">
                        <label for="email">Email: </label>
                        <input type="email" id="email" name='email' value="{{email}}" class='form-control'>
                    </div>
                    <div class="form-group">
                        <label for="password">Password: </label>
                        <input type="password" id="password" name='password' placeholder='Password' class='form-control'>
                    </div>
                    <div class="form-group">
                        <label for="age">Age: </label>
                        <input type="number" id="age" name='age' value="{{age}}" class='form-control'>
                    </div>
                    <div class="form-group">
                        <label for="city">City: </label>
                        <input type="text" id="city" name="city" value="{{city}}" class='form-control'>
                    </div>
                    <div class="form-group">
                        <label for="url">Homepage: </label>
                        <input type="url" id="url" name='url' value="{{url}}" class='form-control'>
                    </div>
                </div>
                <input type="hidden" name="_csrf" value="{{../csrfToken}}">
                <input type="submit" value="Update" class="signup-btn">
            </form>
        {{/userInfo}}
    </div>
    <div class='reg-image'></div>
</main>