<main class='signers'>
    <h4>We the undersigned demands that Education be make free in all nations of the world.</h4>
        {{#signers}}
            <p>

            {{#if url}}
                <a class='signers-url' target="_blank" href={{url}} title='click to view homepage'>{{capitalize first_name}} {{capitalize last_name}}</a>
            {{else}}
                {{capitalize first_name}} {{capitalize last_name}}
            {{/if}}
            {{age}}<a class="signers-city" href='/signers/{{city}}' title='click to view other from {{city}}'>{{capitalize city}}</a></p>
            
        {{/signers}}  

</main>